body {
  margin: 0;
}

.header-border {
  background: linear-gradient(
    90deg,
    rgb(50, 195, 206) 0%,
    rgb(252, 69, 243) 100%
  );
  height: 53px;
  top: 0;
  width: 100%;
}

.header {
  align-items: center;
  background-color: white;
  height: 50px;
  display: flex;
  padding: 0 24px;
  top: 0;
  width: 100%;
}

.header span {
  font-size: 1.5rem;
  margin: 24px 12px;
}

.header span:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
